.box-principal{
    border: 1px solid #999;
    width: 70%;
    height: 90%;
    padding: 5%;
    margin: 1.5% 5% 5% 15%;
    border-radius: 5px;
    background-color: #99999926;
}

#box-description{
    width: 50%;
    margin: 5% 5% 5% 25%;
    text-align: justify;
}

.box-container{
    width: 100%;
    text-align: CENTER;
    padding: 5%;
    border-radius: 10px;
}

#gif_load {
    width:100%;
    border-radius:10px;
}